*{
    /* margin: 0%; */
    padding: 0%;
    /* color: #fff; */
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    color: #fff;
    font-family: Ubuntu;
}
a{
    color: #fff !important;
}
/* ======================login section =============================*/
.backg{
    width: 100%;
    height:100vh;
   background-image: url("../imgs/man.jpg");
   background-size: cover;
    background-position: center;
    position: relative;
}
.backg::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
   
}

.firsttitle{

    color:#fff;
    height: 20%;
    text-align: center;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100%;

}
.container{
    color:#fff;
    height: 90%;
    width:100%;
    display:flex;
    justify-content: center;
    position: relative;
}
.left-side{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10%;
}
#readmor{
    float: right;
}

.right-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10%;
    border-left: 5% solid white;
}
#login{
    color: #000;
    font-size: 1em;
}

/* .remember{
    width: 3%;
    height: 70%;
    align-items: center;
    margin-left: 19%;
} */
.input-log{
    width:40%;
}
/* .forms{
    display:flex;

} */
.login_form{
    display:flex;
    flex-direction: column;
}
#login{
    width:20%;
}
.logins{
    display:flex;
    padding-top: 5%;
}
/*--------------------------- section more----------------------- */
.more{
    color:#fff;
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.exit{
    float: right;
    color:#000;
}
/* **************************addperson section***********************/
.modal{
    color: #000 !important;
}
.close1{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 5%;
}
#ad{
    position: relative;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0.5em;
}
.fas{
    font-size: 23px;
    color: black;
    float: right;
}
.inputs{
    position: relative;
    width: 60%;
    height: 90%;
    margin: 0% auto;
   
}
#fname{
    width: 100%;
    height: 1.5rem;
}
#notes{
    width: 100%;
    height: 3rem;
}
.radios{
    padding-top: 4%;
    font-size: 1.3rem;
   
}
.rad{
    padding-left: 2rem;
}
.submitbut{
    padding-top: 5%;
}
.submit{
    color: black;
    float: right;
    font-weight: bold;
    font-size: 2rem;
    
}
/* #############################logout section ###################*/

.logout{
    color: #fff;
} 
.head_logout{
    width: 100%;
    height:15vh;
    background-image: url("../imgs/man.jpg");
   background-size: cover;
    background-position: center;
    position: relative;
    display: inline-flex;
    

}
.head_logout::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
} 
.my_log{
    height: 20%;
    border: white 5px thick;
    position: relative;
    font-size: 2.5rem;
    width:85%;
    margin: 0% auto;
    top:30%;
}
.myweb{
    float:left
    
}
.log{
    float:right; 
}
#fs{
    background-color: white;
    position: relative;
    float:none; 
}
#cont{
    position: relative;
    color: black;
    font-size: 1.7rem;
    font-weight: bold; 
}
.contact{
    width:80%;
    margin: 0 auto;

}
.buttons{
    float: right;
    width:100%;
    margin: 0% auto;
    
}
.btn-primary {
    color: #fff;
    background-color: #000 !important;
    border-color: #000  !important;
}
.but1{
   
    background-color: black;
    border-radius: 3%;
    border: black;
    font: bolder;
    font-size: 2.5rem;
    padding: 1% 2%;
    margin-left: 80%;
}
.but2{
    float: right;
    background-color: black;
    border-radius: 3%;
    border: black;
    font: bold; 
    font-size: 2.5rem;
    padding: 1% 2%;
   
}
#cel{
    color:black;
    
}
table{
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 8%;
    padding: 6%;
    
}
tr {
    text-align: left;
    border: 5% black;
   
}
th {
    background-color: grey;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    font-size: 2rem;
    
}
   
      td{
        font-size: 1.8rem;
          padding-top:1% ;
          padding-bottom:1%; 
        
      }
   .edit{
        color: blue !important;
    }
    .left{
        width:15%;
        height:15%;
        padding-top: 4%;
        position: relative;
    }
    .icn{
        width: 6%;
        height:60%;
        position: relative;
        display: inline;
    }
    #exampleModal{
        color: #000 !important;
    }